[Unit]
Description=Every day, change wallpapers to NASA Astronomy Picture of the Day
PartOf=graphical-session.target
After=graphical-session.target

[Timer]
#OnCalendar=*-*-* 12:35:00
OnCalendar=daily
Persistent=true

[Install]
WantedBy=graphical-session.target
