[Unit]
Description=Change wallpapers to NASA Astronomy Picture of the Day
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/apodesktop

[Install]
WantedBy=graphical-session.target
